.full-page-height-vh.bg-color-blue-700.row.middle-xs.center-xs.color-white
  .col-xs-8.col-md-5.col-lg-4.text-left
    %h1 FacilitoSocial
    %p Red Social para desarrolladores
    .card.bg-color-white.padding
      = react_component("Registration")
