@import 'partials/sass-material-colors-classes';
@import 'partials/sass-material-colors';

// .non-white span:nth-child(1){
//   background-color: transparent !important;
//   & div{
//     background-color: transparent !important;
//   }
// }
.navbar.main{
  border-radius:0px;
  a{
    color:white;

    &:hover{
      color:#7986cb;
    }
  }

}
.bg-color-white{
  background-color: white;
}
.color-white{
  color:white;
}
.card{
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.full-page-height-vh{
  height: 100vh;
}
.padding{
  padding: 10px 15px;
}
