%h1 Listing images

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Image file
      %th
      %th
      %th

  %tbody
    - @images.each do |image|
      %tr
        %td= image.title
        %td= image.description
        %td= image.image_file
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
